.boards-container {
  display: flex;
  width: 90vw;
  height: 90vh;
  margin: auto;
  justify-content: center;
  /* align-items: center; */
  margin-top: 40px;
  /* border: 1px solid black; */
}
.boards {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 90%;
  height: 90%;
  justify-content: start;
  align-content: start;
  /* border: 1px solid black; */
  gap: 20px;
}
.createBoard {
  /* padding: 20px; */
  text-align: start;
  display: flex;
  flex-basis: 18%;
  height: 20%;
  align-items: center;
  justify-content: center;
}
.createBoard:hover {
  cursor: pointer;
  background-color: #a09f9f;
}
.create-board-container {
  display: flex;
  width: 250px;
  height: 200px;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  justify-content: center;
  align-content: space-evenly;
  /* border-radius: 10px; */
}
.create-board-header {
  flex-basis: 90%;
  display: flex;
  justify-content: center;
}
.board-title-container {
  flex-basis: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
}
.create-board-button {
  flex-basis: 90%;
  height: 20%;
  cursor: pointer;
}
.board-title-input {
  flex-basis: 40%;
}
